body {
  background-color: black;
  color: green;
  font-family: "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
}
p {
  margin: 0;
}
span {
  display: inline-block;
  padding: 2px;
}

#text {
  background-color: black;
  color: green;
}

#submit {
  background-color: green;
  border: 1px solid green;
  /* border: grey; */
  /* color: black; */
}

#descriptografar {
  background-color: green;
  border: grey;
  color: black;
}

#limpar {
  background-color: green;
  border: grey;
  color: black;
}
#container {
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
